.item-coffee img {
    transition: none;
}

.item-coffee:hover img {
    animation: coffeeAnimation 0.6s infinite alternate;
}

@keyframes coffeeAnimation {
    0% {
        content: url('src/img/coffee-open1@3x.png');
    }
    50% {
        content: url('src/img/coffee-open2@3x.png');
    }
    100% {
        content: url('src/img/coffee-open1@3x.png');
    }
}

/* Für kleinere Bildschirme */
@media (max-width: 576px) {
    @keyframes coffeeAnimation {
        0% {
            content: url('src/img/coffee-open1@2x.png');
        }
        50% {
            content: url('src/img/coffee-open2@2x.png');
        }
        100% {
            content: url('src/img/coffee-open1@2x.png');
        }
    }
}